@charset "UTF-8";

*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 65px 65px 65px 65px;
    gap: 5px;

    background-color: #444;
    padding: 15px;
    border: 1px solid red;
    

}

.grid-container span {
    line-height: 48px;
    text-align: center;
    color: white;
    font-size: 2em;
    background-color: black;
    border-radius: 15px;
}